@media all and (min-width: 834px){
    .main-header{
        height: 700px;
        background-image: url("/img/us.jpg");
    }
    .main-nav{
        max-width: 776px;
    }
    .description{
        font-size: 40px;
    }
    .articles .article{
        height: 300px;
    }
}
@media all and (min-width: 1024px){
    .main-header{
        height: 700px;
        background-image: url("/img/us.jpg");
    }
    .main-nav{
        max-width: 1280px;
    }
    .description{
        font-size: 40px;
    }
}
@media all and (min-width: 1024px){
    .main-header{
        height: 700px;
        background-image: url("/img/us.jpg");
    }
    .main-nav{
        max-width: 1440px;
    }
    .description{
        font-size: 40px;
    }
}